{% extends 'employee/layout/base.html' %}

{% block title %}
    <title>In phiếu đặt phòng</title>
{% endblock %}

{% block content %}
    <div class="page-wrapper" id="myDIV">
        <div class="page-breadcrumb bg-white">
            <h4 class="text-uppercase text-info font-weight-bold remove-print">Thông tin đặt phòng</h4>
            <div class="p-4">
                <div class="mb-5">
                    <div class="d-flex">
                        <div class="p-2 border border-secondary col-12 font-weight-bold font-16 text-center">
                            PHIẾU ĐẶT PHÒNG
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-2 border border-secondary col-6">
                            Họ tên người đặt:
                            <span class="font-weight-bold">{{ name_book_room }}</span>
                        </div>
                        <div class="p-2 border border-secondary col-6">
                            Các phòng đặt: <span class="font-weight-bold">
                            {% for room in book_room_list.get('rooms') %}
                                {{ book_room_list.get('rooms')[room].get('room_number') }},
                            {% endfor %}
                        </span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-2 border border-secondary col-6">
                            Ngày nhận phòng:
                            <span class="font-weight-bold">
                                {{ book_room_list.get('check_in_date').strftime("%d-%m-%Y") }}
                            </span>
                        </div>
                        <div class="p-2 border border-secondary col-6">
                            Ngày trả phòng:
                            <span class="font-weight-bold">
                                {{ book_room_list.get('check_out_date').strftime("%d-%m-%Y") }}
                            </span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-2 border border-secondary col-1 font-weight-bold text-center">
                            STT
                        </div>
                        <div class="p-2 border border-secondary col-2 font-weight-bold text-center">
                            Khách hạng
                        </div>
                        <div class="p-2 border border-secondary col-2 font-weight-bold text-center">
                            Loại khách
                        </div>
                        <div class="p-2 border border-secondary col-2 font-weight-bold text-center">
                            CMND
                        </div>
                        <div class="p-2 border border-secondary col-5 font-weight-bold text-center">
                            Địa chỉ
                        </div>
                    </div>

                    <div>
                        <div class="d-flex ">
                            <div class="p-2 border border-secondary col-1 text-center">
                                1
                            </div>
                            <div class="p-2 border border-secondary col-2 text-center">
                                {{ name_book_room }}
                            </div>
                            <div class="p-2 border border-secondary col-2 text-center">
                                {% if cus_type_book_room.__eq__(1) %}
                                    Nội địa
                                {% else %}
                                    Nước ngoài
                                {% endif %}
                            </div>
                            <div class="p-2 border border-secondary col-2 text-center">
                                {{ id_card_book_room }}
                            </div>
                            <div class="p-2 border border-secondary col-5 text-center">
                                {{ address_book_room }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <a href="{{ url_for('book_room') }}">
                        <button class="btn-danger btn text-white bt-print-page shadow-none"><i
                                class="fas fa-sign-out-alt"></i>
                            Quay về trang đặt phòng
                        </button>
                    </a>
                    <button class="btn-success btn text-white bt-print-page shadow-none" onclick="printBookingForm()">
                        <i class="fas fa-print"></i> In phiếu đặt phòng
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/employee/ajax/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/employee/print.js') }}"></script>
{% endblock %}