{% extends 'employee/layout/base.html' %}

{% block title %}
    <title>Thanh toán</title>
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="container-fluid p-0">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category.__eq__('error') %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong><i class="fas fa-exclamation-circle"></i></strong> {{ message }}
                                </div>
                            {% elif category.__eq__('success') %}
                                <div class="alert alert-success alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong><i class="fas fa-exclamation-circle"></i></strong> {{ message }}
                                </div>
                            {% elif category.__eq__('info') %}
                                <div class="alert alert-info alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong><i class="fas fa-exclamation-circle"></i></strong> {{ message }}
                                </div>
                            {% elif category.__eq__('warning') %}
                                <div class="alert alert-warning alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong><i class="fas fa-exclamation-circle"></i></strong> {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="white-box shadow-lg mb-2 p-2">
                    <h4 class="font-weight-bold p-2">DANH SÁCH PHIẾU THUÊ CHỜ THANH TOÁN
                        <span class="badge badge-pill badge-danger rounded-pill">{{ total_rent_waiting }}</span>
                    </h4>
                    <hr class="m-0">
                    <div class="d-md-flex p-2">
                        <div class="col-md-3 col-sm-3 col-xs-3 p-2 mt-auto">
                            <form class="form-inline w-100" action="#">
                                <div class="row d-flex w-100">
                                    <div class="w-75 p-0">
                                        <input class="form-control mr-sm-2 w-100" id="filter-room-number"
                                               type="text"
                                               placeholder="Nhập số phòng..." onkeyup="searchRoomNumber()">
                                    </div>
                                    <div class="w-25 p-0">
                                                         <span class="input-group-text border h-100 bg-dark"
                                                               id="search-addon">
                                                            <i class="fas fa-search text-white m-auto"></i>
                                                         </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 p-2">
                            <span class="font-weight-bold">Ngày nhận phòng: </span>
                            <input class="p-2 w-100 rounded-sm border form-control" type="date"
                                   id="filter-check-in-date"
                                   onchange="searchCheckInDate()">
                        </div>
                        <div class="col-md-3 p-2">
                            <span class="font-weight-bold">Ngày trả phòng: </span>
                            <input class="p-2 w-100 rounded-sm border form-control" type="date"
                                   id="filter-check-out-date"
                                   onchange="searchCheckOutDate()">
                        </div>
                        <div class="col-md-3 p-2 mt-auto">
                            <button class="btn-dark btn" onclick="resetFilter()"><i class="p-1 fas fa-redo"></i>Đặt lại
                            </button>
                        </div>
                    </div>
                    <table class="table table-hover c_table">
                        <thead class="btn-dark">
                        <tr>
                            <th class="text-white col-2 text-center align-middle">Ngày nhận phòng</th>
                            <th class="text-white col-2 text-center align-middle">Ngày trả phòng</th>
                            <th class="text-white col-2 text-center align-middle">Số phòng</th>
                            <th class="text-white col-3 text-center align-middle">Trạng thái</th>
                            <th class="text-white col-3 text-center align-middle">Chức năng</th>
                        </tr>
                        </thead>
                        <tbody id="content-rent">
                        {% for rent in rents %}
                            <tr>
                                <td class="text-dark col-2 text-center align-middle">
                                    {{ rent.check_in_date.strftime('%d-%m-%Y') }}
                                </td>
                                <td class="text-dark col-2 text-center align-middle">
                                    {{ rent.check_out_date.strftime('%d-%m-%Y') }}
                                </td>
                                <td class="col-2 text-center text-danger font-weight-bold align-middle">
                                    {{ rent.room.room_number }}
                                </td>
                                <td class="col-3 text-center text-danger font-weight-bold align-middle">
                                    {% if (today - rent.check_out_date).days.__ge__(0) %}
                                        <span class="badge badge-pill badge-warning">Phiếu thuê phòng tới hạn thanh toán</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-success">Phiếu thuê phòng chờ thanh toán</span>
                                    {% endif %}
                                </td>
                                <td class="text-dark col-3 text-center align-middle">
                                    <a href="{{ url_for('payment_detail', rent_id=rent.id) }}">
                                        <button class="btn btn-info text-white">Thanh toán</button>
                                    </a>
                                </td>
                                <script>
                                    // get HTML
                                    function getHTMLRentRoom(rent) {
                                        let days = rent['days']
                                        let txtStatus = ''
                                        if (days >= 0){
                                            txtStatus = `<span class="badge badge-pill badge-warning">Phiếu thuê phòng tới hạn thanh toán</span>`
                                        }
                                        else{
                                            txtStatus = `<span class="badge badge-pill badge-success">Phiếu thuê phòng chờ thanh toán</span>`
                                        }
                                        return `<tr>
                                                    <td class="text-dark col-2 text-center align-middle">
                                                        ${rent['check_in_date']}
                                                    </td>
                                                    <td class="text-dark col-2 text-center align-middle">
                                                        ${rent['check_out_date']}
                                                    </td>
                                                    <td class="col-2 text-center text-danger font-weight-bold align-middle">
                                                        ${rent['room_number']}
                                                    </td>
                                                    <td class="col-3 text-center text-danger font-weight-bold align-middle">
                                                        ${txtStatus}
                                                    </td>
                                                    <td class="text-dark col-3 text-center align-middle">
                                                        <a href="{{ url_for('payment_detail', rent_id=rent.id) }}"> <button class="btn btn-info text-white">Thanh toán</button></a>
                                                    </td>
                                                </tr>`
                                    }

                                </script>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->

        <!-- Modal -->
        <div class="modal fade" id="my-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <i class="fa-solid fa-circle-exclamation text-danger font-24 p-2"></i>
                        <h4 class="modal-title font-weight-bold font-20" id="id-modal-title">Tiêu đề</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body font-16" id="id-modal-body">
                        Nội dung
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger text-light" data-dismiss="modal">Đóng</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Modal -->
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/employee/ajax/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/employee/ajax/payment.js') }}"></script>
{% endblock %}