{% extends 'employee/layout/base.html' %}

{% block title %}
    <title>Thuê phòng</title>
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="white-box shadow-sm mb-2 p-4">
                <h4>CHỨC NĂNG</h4>
                <hr>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <a href="{{ url_for('rent_advance') }}">
                            <div class="card bg-primary text-white mb-4 shadow-sm">
                                <div class="align-items-center justify-content-between p-2 text-center">
                                    <i class="fas fa-calendar-check" style="font-size: 70px"></i>
                                </div>
                                <div class="card-body text-center text-white font-18">Nhận phòng đã đặt</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <a href="{{ url_for('rent_directly') }}">
                            <div class="card bg-success text-white mb-4 shadow-sm">
                                <div class="align-items-center justify-content-between  p-2 text-center">
                                    <i class="far fa-id-card" style="font-size: 70px"></i>
                                </div>
                                <div class="card-body text-center text-white font-18 ">Thuê phòng trực tiếp</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}