{% extends "home/layout/base.html" %}

{% block heading %}
    Về chúng tôi
{% endblock %}

{% block title %}
    <title>Sogo hotel | Về chúng tôi</title>
{% endblock %}

{% block date_time %}
{% endblock %}

{% block content %}
    <section class="py-5 bg-light" id="next">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
                    <figure class="img-absolute">
                        <img src="{{ url_for('static', filename='images/food-1.jpg') }}" alt="Image" class="img-fluid">
                    </figure>
                    <img src="{{ url_for('static', filename='images/img_1.jpg') }}" alt="Image"
                         class="img-fluid rounded">
                </div>
                <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Chào mừng!</h2>
                    <p class="mb-4">Khách sạn tọa lạc tại một vị trí tuyệt đẹp ở quận 1 thuộc thành phố Hồ Chí Minh
                        Sogo Hotel Saigon nằm gần các điểm tham quan nổi tiếng gần chỗ nghỉ bao gồm Chợ ẩm thực đường
                        phố Bến Thành, Dinh Thống Nhất và trung tâm thương mại Takashimaya Việt Nam. Khách sạn
                        có 29 phòng ngủ được trang bị các tiện nghi như truy cập wifi miễn phí, máy lạnh, ban công
                        riêng,
                        truyền hình vệ tinh, máy phà trà và cà phê,</p>
                    <p><a href="#" class="btn btn-warning text-white py-2 mr-3">Xem thêm</a> <span
                            class="mr-3 font-family-serif"><em>hoặc</em></span> <a
                            href="https://vimeo.com/channels/staffpicks/93951774" data-fancybox
                            class="text-uppercase letter-spacing-1 text-warning">Xem video</a></p>
                </div>

            </div>
        </div>
    </section>

    <div class="container section">

        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7 mb-5">
                <h2 class="heading" data-aos="fade-up">Ban lãnh đạo</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(images/person_3.jpg);">
                            <div class="box">
                                <h2>Will Peters</h2>
                                <p>President</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
                                    almost unorthographic life One day however a small line of blind text by the name of
                                    Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/person_3.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Will Peters <span class="position">President</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>

            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="block-2"> <!-- .hover -->
                    <div class="flipper">
                        <div class="front" style="background-image: url(images/person_1.jpg);">
                            <div class="box">
                                <h2>Jane Williams</h2>
                                <p>Business Manager</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
                                    almost unorthographic life One day however a small line of blind text by the name of
                                    Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/person_1.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Jane Williams <span
                                        class="position">Business Manager</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>

            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(images/person_2.jpg);">
                            <div class="box">
                                <h2>Jeffrey Neddery</h2>
                                <p>Marketing Director</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
                                    almost unorthographic life One day however a small line of blind text by the name of
                                    Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/person_2.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Jeffrey Neddery <span class="position">Marketing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
        </div>
    </div>
    <!-- END .block-2 -->

    <section class="section slider-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">Hình ảnh</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Tất cả phòng đều có tầm nhìn tuyệt đẹp hướng ra quang
                        cảnh thành phố, nội thất đương đại, đầy đủ tiện nghi cùng các thiết bị công nghệ tiên tiến phục
                        vụ nhu cầu nghỉ ngơi và công tác, giúp quý khách tận hưởng thời gian của riêng mình.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                        {% if images and images.__ne__({}) %}
                            {% for image in images %}
                                <div class="slider-item">
                                    <a href="{{ images.get(image) }}" data-fancybox="images"
                                       data-caption="Caption for this image"><img
                                            src="{{ images.get(image) }}"
                                            alt="Image placeholder" class="img-fluid"></a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- END slider -->
                </div>

            </div>
        </div>
    </section>
    <!-- END section -->

    <div class="section">
        <div class="container">

            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7 mb-5">
                    <h2 class="heading" data-aos="fade">Lịch sử</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="timeline-item" date-is='2019' data-aos="fade">
                        <h3>Nhiều chi nhánh hơn trên toàn thế giới</h3>
                        <p>Hiện nay chuỗi khách sạn Sogo đã có chi nhánh ở Việt Nam từ Bắc vào Nam và dự kiến là sẽ mở
                            một vài chi nhánh nữa tại các nước trong khu vực Đông Nam Á như: Trung Quốc, Lào, Thái.</p>
                        <p>101 Cô Giang, Phường Cô Giang, Quận 1, TP. HCM, Việt Nam.</p>
                        <p>15, Ngô Quyền, Hoàn Kiếm, Hà Nội.</p>
                        <p>8 Đỗ Đức Dục,
                    </div>

                    <div class="timeline-item" date-is='2011' data-aos="fade">
                        <h3>Tập đoàn chuỗi khách sạn Sogo</h3>
                        <p>
                            Khách sạn Sogo tự hào là một trong những khách sạn 5 sao có chất lượng dịch vụ cao cấp nhất
                            khu vực Đông Nam
                            Á kể từ khi hoạt động vào tháng 10 năm 2013.
                            Khẳng định được chất lượng dịch vụ cao cấp và những đóng góp quan trọng cho ngành du lịch
                            Việt Nam ngay từ ngày đầu mở cửa, khách sạn Sogo
                        </p>
                    </div>

                    <div class="timeline-item" date-is='2008' data-aos="fade">
                        <h3>Ngày thành lập</h3>
                        <p>
                            Khách sạn được thành lập từ tháng 10 năm 2008.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    
    
