{% extends "home/layout/base.html" %}

{% block title %}
    <title>Sogo hotel | Trang chủ</title>
{% endblock %}

{% block heading %}
    Trang chủ
{% endblock %}

{% block content %}
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center" id="hearder">
                <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
                    <figure class="img-absolute">
                        <img src="{{ url_for('static', filename='images/food-1.jpg') }}" alt="Image" class="img-fluid">
                    </figure>
                    <img src="{{ url_for('static', filename='images/img_1.jpg') }}" alt="Image"
                         class="img-fluid rounded">
                </div>
                <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Chào mừng!</h2>
                    <p class="mb-4">Khách sạn tọa lạc tại một vị trí tuyệt đẹp ở quận 1 thuộc thành phố Hồ Chí Minh
                        Sogo Hotel nằm gần các điểm tham quan nổi tiếng gần chỗ nghỉ bao gồm Chợ ẩm thực đường
                        phố Bến Thành, Dinh Thống Nhất và trung tâm thương mại Takashimaya Việt Nam. Khách sạn
                        có 29 phòng ngủ được trang bị các tiện nghi như truy cập wifi miễn phí, máy lạnh, ban công
                        riêng,
                        truyền hình vệ tinh, máy phà trà và cà phê,</p>
                    <p><a href="{{ url_for('about_us') }}" class="btn btn-warning text-white py-2 mr-3">Xem thêm</a>
                        <span
                                class="mr-3 font-family-serif"><em>hoặc</em></span> <a
                                href="https://vimeo.com/channels/staffpicks/93951774" data-fancybox
                                class="text-uppercase letter-spacing-1 text-warning">Xem video</a></p>
                </div>

            </div>
        </div>
    </section>



    <section class="section slider-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">Hình ảnh</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Tất cả phòng đều có tầm nhìn tuyệt đẹp hướng ra quang
                        cảnh thành phố, nội thất đương đại, đầy đủ tiện nghi cùng các thiết bị công nghệ tiên tiến phục
                        vụ nhu cầu nghỉ ngơi và công tác, giúp quý khách tận hưởng thời gian của riêng mình.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                    {% if images and images.__ne__({}) %}
                        {% for image in images %}
                        <div class="slider-item">
                            <a href="{{ images.get(image) }}" data-fancybox="images"
                               data-caption="Caption for this image"><img
                                    src="{{ images.get(image) }}"
                                    alt="Image placeholder" class="img-fluid"></a>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <!-- END slider -->
                </div>

            </div>
        </div>
    </section>
    <!-- END section -->



    <!-- END section -->
    <section class="section testimonial-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">Người đồng hành</h2>
                </div>
            </div>
            <div class="row">
                <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="{{ url_for('static', filename='images/person-01.jpg') }}" alt="Image placeholder"
                                 class="rounded-circle mx-auto">
                        </div>
                        <blockquote>

                            <p>&ldquo;1951052128&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; Nguyễn Thị Kim Ngân</em></p>
                    </div>

                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="{{ url_for('static', filename='images/person-02.jpg') }}" alt="Image placeholder"
                                 class="rounded-circle mx-auto">
                        </div>
                        <blockquote>
                            <p>&ldquo;1951050027&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; Bùi Khánh Huy</em></p>
                    </div>

                    <div class="testimonial text-center slider-item">
                        <div class="author-image mb-3">
                            <img src="{{ url_for('static', filename='images/person-03.jpg') }}" alt="Image placeholder"
                                 class="rounded-circle mx-auto">
                        </div>
                        <blockquote>
                            <p>&ldquo;1951052083&rdquo;</p>
                        </blockquote>
                        <p><em>&mdash; Võ Minh Hùng</em></p>
                    </div>

                </div>
                <!-- END slider -->
            </div>

        </div>
    </section>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home/index.js') }}"></script>
{% endblock %}
