{% extends "home/layout/base.html" %}

{% block title %}
    <title>Sogo hotel | Loại phòng</title>
{% endblock %}

{% block heading %}
    Loại phòng
{% endblock %}

{% block content %}
    <section class="section blog-post-entry bg-light">
        <div class="container">
            <div class="row">
                {% for kind in kinds %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 post p-3" data-aos="fade-up" data-aos-delay="100">

                    <div class="media media-custom d-block mb-4 h-100">
                        <a href="{{ url_for('get_rooms', kind_of_room_id=kind.id) }}" class="mb-4 d-block">
                            <img src="{{ url_for('static', filename='images/img_1.jpg') }}"
                                                              alt="Image placeholder" class="img-fluid">
                        </a>
                        <div class="media-body">
                            <h2 class="mt-0 mb-3"><a href="{{ url_for('get_rooms', kind_of_room_id=kind.id) }}">{{ kind.kind_of_room_name }}</a></h2>
                            <p>{{ kind.description }}</p>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}