{% extends "home/layout/base.html" %}

{% block title %}
    <title>Sogo hotel | Phòng</title>
{% endblock %}

{% block heading %}
    Phòng
{% endblock %}

{% block content %}
    <section class="section blog-post-entry bg-light">
        <div class="container">

            <div class="row">
                {% if  rooms.items %}
                    {% for room in rooms.items %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up"
                             data-aos-delay="100">
                            <div class="media media-custom d-block mb-4 h-100">
                                <a href="{{ url_for('room_detail',room_id=room.id) }}" class="mb-4 d-block">
                                    <img src="{{ room.image }}" alt="Image placeholder" class="img-fluid">
                                </a>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <h2 class="mt-0 mb-3"><a
                                                    href="{{ url_for('room_detail', room_id=room.id) }}">Phòng {{ room.room_number }}</a>
                                            </h2>
                                        </div>
                                        <div class="col-6">
                                        <span class="meta-post"><span
                                                class="badge badge-success p-1">{{ room.kind_of_room.kind_of_room_name }}</span> </span>
                                        </div>
                                    </div>
                                    <p>{{ "{:,.0f}".format(room.price) }} VNĐ/ 1 NGÀY</p>
                                    <div>
                                        <div class="p-1">
                                            <a href="{{ url_for('room_detail', room_id=room.id) }}"
                                               class="btn btn-primary btn-block text-center w-75 text-white mx-auto">
                                                Xem chi tiết phòng
                                            </a>
                                        </div>
                                        <div class="p-1" id="room-{{ room.id }}">
                                            {% if room_list %}
                                                {% if "{0}".format(room.id) in room_list %}
                                                    <button class="btn btn-secondary btn-block text-center w-75 text-white mx-auto"
                                                            onclick="add_to_book_room({{ room.id }},'{{ room.room_number }}','{{ room.kind_of_room.kind_of_room_name }}',{{ room.price }})">
                                                        Hủy chọn
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-warning btn-block text-center w-75 text-white mx-auto"
                                                            onclick="add_to_book_room({{ room.id }},'{{ room.room_number }}','{{ room.kind_of_room.kind_of_room_name }}',{{ room.price }})">
                                                        Thêm vào giỏ hàng
                                                    </button>
                                                {% endif %}
                                            {% else %}
                                                <button class="btn btn-warning btn-block text-center w-75 text-white mx-auto"
                                                        onclick="add_to_book_room({{ room.id }},'{{ room.room_number }}','{{ room.kind_of_room.kind_of_room_name }}',{{ room.price }})">
                                                    Thêm vào giỏ hàng
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <h3 class="text-danger">Hết phòng trống!</h3>
                        <h4>Bạn vui lòng chọn ngày hoặc loại phòng khác.</h4>
                    </div>
                {% endif %}
            </div>
            <div class="row" data-aos="fade">

                <div class="col-12">
                    <div class="custom-pagination">
                        <ul class="list-unstyled">
                            {% for page in rooms.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                                {% if page %}
                                    {% if page != rooms.page %}
                                        <li><a class="text-warning"
                                               href="{{ url_for('get_rooms', kind_of_room_id=kind_of_room_id, page=page) }}">{{ page }}</a>
                                        </li>

                                    {% else %}
                                        <li><a class="text-white bg-warning"
                                               href="{{ url_for('get_rooms', kind_of_room_id=kind_of_room_id, page=page) }}">{{ page }}</a>
                                    {% endif %}
                                {% else %}
                                    <span class=ellipsis>…</span>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block tail_js %}
    {{ super() }}
{% endblock %}