<footer class="section footer-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-3 mb-5">
                <ul class="list-unstyled link">
                    <li><a href="{{ url_for('about_us') }}">Về chúng tôi</a></li>
                    <li><a href="#">Điều khoản &amp; điều kiện</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="{{ url_for('room_type') }}">Phòng</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-5">
                <ul class="list-unstyled link">
                    <li><a href="{{ url_for('room_type') }}">Loại phòng</a></li>
                    <li><a href="{{ url_for('about_us') }}">Về chúng tôi</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-5 pr-md-5 contact-info">
                <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
                <p><span class="d-block"><span
                        class="ion-ios-location h5 mr-3 text-warning"></span>Địa chỉ:</span>
                    <span>141 Nguyễn Huệ, Quận 1, Thành phố Hồ Chí Minh</span></p>
                <p><span class="d-block"><span
                        class="ion-ios-telephone h5 mr-3 text-warning"></span>Điện thoại:</span>
                    <span> (+84) 0909 222 333</span></p>
                <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-warning"></span>Email:</span>
                    <span> sogohotel@gmail.com</span>
                </p>
            </div>
            {% if current_user.is_authenticated==False %}
            <div class="col-md-3 mb-5">
                <a href="{{ url_for('customer_register') }}">Sign up now !</a>
            </div>
            {% endif %}
        </div>
        <div class="row pt-5">
            <p class="col-md-6 text-left">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Tất cả các quyền được bảo lưu | Mẫu này được thực hiện bởi Colorlib
                <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>

            <p class="col-md-6 text-right social">
                <a href="#"><span class="fa fa-tripadvisor"></span></a>
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-linkedin"></span></a>
                <a href="#"><span class="fa fa-vimeo"></span></a>
            </p>
        </div>
    </div>
</footer>