<header class="site-header js-site-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 col-lg-7 site-logo" data-aos="fade"><a href="{{ url_for('index') }}">Sogo Hotel</a></div>

            <div class="col-4 col-lg-4" data-aos="fade" style="display:flex">

                {% if current_user.is_authenticated %}
                    <div class="ml-auto">
                        <a href="{{ url_for('load_cart') }}" class="text-warning">
                            <button type="button" class="btn btn-outline-warning rounded-lg">
                                <i class="fas fa-cart-plus"></i>Giỏ hàng <span class="badge bg-light"
                                                                               id="cusCartCounter">{{ cus_cart_stats }}</span>
                            </button>
                        </a>
                    </div>
                    <p class="rounded-circle" style="margin-left:auto;padding:10px 10px 0 0;">
                        <a href="{{ url_for('load_profile_customer') }}">
                            {% if current_user.avatar %}
                                <img class="rounded-circle my-auto" src="{{ current_user.avatar }}"
                                     alt="avt-{{ current_user.username }}" style="width:30px; height:30px;">
                            {% else %}
                                <img class="rounded-circle my-auto img-fluid"
                                     src="{{ url_for('static', filename='images/avatar-default.png') }}"
                                     alt="avt-{{ current_user.username }}" style="width:30px; height:30px;">
                            {% endif %}
                        </a>
                    </p>
                    <div style="text-align:right; padding: 10px" class="pl-0">
                        <a class="text-warning" href="{{ url_for('load_profile_customer') }}">{{ current_user.username }}</a>
                    </div>
                {% endif %}
            </div>

            <div class="col-2 col-lg-1">

                <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade" style="top:10px">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- END menu-toggle -->

                <div class="site-navbar js-site-navbar">
                    <nav role="navigation">
                        <div class="container">
                            <div class="row full-height align-items-center">
                                <div class="col-md-6 mx-auto">
                                    <ul class="list-unstyled menu">
                                        <li class="active"><a href="{{ url_for('index') }}">Trang Chủ</a></li>
                                        <li><a href="{{ url_for('room_type') }}">Phòng</a></li>
                                        <li><a href="{{ url_for('about_us') }}">Về Chúng Tôi</a></li>
                                        {% if current_user.is_authenticated %}
                                            <li><a href="{{ url_for('load_profile_customer') }}">Tài Khoản</a></li>
                                            <li><a href="{{ url_for('customer_logout') }}">Đăng Xuất</a></li>
                                        {% else %}
                                            <li><a href="{{ url_for('customer_login') }}">Đăng Nhập</a></li>
                                            <li><a href="{{ url_for('customer_register') }}">Đăng Ký</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END head -->