<!-- Topbar header - style you can find in pages.scss -->
<header class="topbar remove-print" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark fixed-top">
        <div class="navbar-header" data-logobg="skin6">
            <!-- Logo -->
            <a class="navbar-brand" href="{{ url_for('dashboard') }}">
                <!-- Logo icon -->
                <b class="logo-icon">
                    <!-- Dark Logo icon -->
                    <img src="{{ url_for('static', filename='plugins/employee/images/logo-icon.png') }}"
                         alt="homepage"/>
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text">                            <!-- dark Logo text -->
                            <img src="{{ url_for('static', filename='plugins/employee/images/icon-employeee.png') }}"
                                 alt="homepage"/>
                 </span>
            </a>
            <!-- End Logo -->
            <!-- toggle and nav items -->
            <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
               href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

            <!-- Right side toggle and nav items -->
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <!-- User profile and search -->
                <li>
                    <div class="dropdown">
                        <a class="profile-pic dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src="{% if current_user.avatar %}{{ current_user.avatar }}
                                        {% else %} {{ url_for('static', filename='images/employee/icon-user.png') }}{% endif %}"
                                 alt="user-img" width="36"
                                 class="img-circle"><span
                                class="text-white font-medium">{{ current_user.username }}</span>
                        </a>
                        <div class="dropdown-menu m-0 p-0">
                            <a class="dropdown-item text-danger bg-light font-weight-bold" href="{{ url_for('logout') }}">
                                <i class="fas fa-sign-out-alt pr-1"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>

                <!-- User profile and search -->
            </ul>
        </div>
    </nav>
</header>
<!-- End Topbar header -->