<!-- Left Sidebar - style you can find in sidebar.scss  -->
<aside class="left-sidebar remove-print" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav position-fixed">
            <ul id="sidebarnav">
                <!-- User Profile-->
                 <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('dashboard') }}"
                       aria-expanded="false">
                        <i class=" fas fa-building"></i>
                        <span class="hide-menu">Tổng quan</span>
                    </a>
                </li>
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('book_room') }}"
                       aria-expanded="false">
                        <i class="fas fa-clipboard-check"></i>
                        <span class="hide-menu">Đặt phòng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('rent') }}"
                       aria-expanded="false">
                        <i class=" fas fa-cart-plus"></i>
                        <span class="hide-menu">Thuê phòng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ url_for('payment') }}"
                       aria-expanded="false">
                        <i class="far fa-credit-card"></i>
                        <span class="hide-menu">Thanh toán</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>